body {
  background-color: #eeeeee;
}

nav {
  background-color: #e4e4e4;
  -webkit-box-shadow: 0 2px 5px #121212;
          box-shadow: 0 2px 5px #121212;
}

nav #overlay {
  background-color: #000034;
  background-color: rgba(0, 0, 52, 0.95);
}

nav #overlay #close-btn a:hover::before, nav #overlay #close-btn a:hover::after {
  border: 0 solid transparent;
}

nav #overlay li a {
  background: none;
  color: #e4e4e4;
  border: 0;
}

nav #overlay li a::before, nav #overlay li a::after {
  border: 2px solid transparent;
}

nav #overlay li a:hover::before {
  border-top-color: #e4e4e4;
  border-right-color: #e4e4e4;
}

nav #overlay li a:hover::after {
  border-bottom-color: #e4e4e4;
  border-left-color: #e4e4e4;
}

nav #open-btn {
  color: #000034;
}

#title-card {
  background-color: #252525;
  color: #eeeeee;
}

#grid-item__left img, #grid-item__left h2, #grid-item__right img, #grid-item__right h2 {
  background-color: #e4e4e4;
  color: #000034;
}

footer {
  background-color: #e4e4e4;
  color: #000034;
}

@media screen and (min-width: 700px) {
  nav #overlay {
    background-color: transparent;
  }
  nav #overlay li {
    border-right: 2px solid #000034;
  }
  nav #overlay li:nth-of-type(7) {
    border-right: 0;
  }
  nav #overlay li a {
    color: #000034;
  }
  nav #overlay li a::before, nav #overlay li a::after {
    border: 0;
  }
  nav #overlay li a:hover::before, nav #overlay li a:hover::after {
    border: 0 solid transparent;
  }
  nav #overlay li a:hover {
    color: #e4e4e4;
    background-color: #000034;
  }
}

* {
  line-height: 150%;
  font-family: Arial, Calibri, Helvetica, sans-serif;
  text-align: center;
}

nav #overlay li a {
  font-size: 2.5rem;
  text-decoration: none;
}

nav #open-btn {
  font-size: 2rem;
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2rem;
}

footer p {
  font-weight: bold;
}

@media all and (min-width: 700px) {
  nav #overlay li a {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 15px;
}

nav #nav__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  float: left;
}

nav #nav__logo-link img {
  width: 100%;
}

nav #overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Code sourced from W3 Schools (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp) */
  position: fixed;
  /* Stay in place */
  top: 0;
  right: 0;
  z-index: 1;
  /* Sit on top */
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Disable scroll */
  /* End of sourced code */
  list-style: none;
}

nav #overlay #close-btn a {
  width: 10%;
  margin-right: 10px;
}

nav #overlay #close-btn a:hover::before, nav #overlay #close-btn a:hover::after {
  -webkit-transition: none;
  transition: none;
}

nav #overlay li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Border draw code sourced from Giana (https://codepen.io/giana/pen/yYBpVY) */
}

nav #overlay li:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav #overlay li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-bottom: 2%;
  position: relative;
  vertical-align: middle;
}

nav #overlay li a::before, nav #overlay li a::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

nav #overlay li a::before {
  top: 0;
  left: 0;
}

nav #overlay li a::after {
  bottom: 0;
  right: 0;
}

nav #overlay li a:hover::before, nav #overlay li a:hover::after {
  width: 100%;
  height: 100%;
}

nav #overlay li a:hover::before {
  -webkit-transition: width 0.125s ease-out, height 0.125s ease-out 0.125s;
  transition: width 0.125s ease-out, height 0.125s ease-out 0.125s;
}

nav #overlay li a:hover::after {
  -webkit-transition: border-color 0s ease-out 0.25s, width 0.125s ease-out 0.25s, height 0.125s ease-out 0.375s;
  transition: border-color 0s ease-out 0.25s, width 0.125s ease-out 0.25s, height 0.125s ease-out 0.375s;
}

nav #open-btn {
  width: 15%;
}

@media screen and (min-width: 700px) {
  nav #overlay {
    /* Code sourced from W3 Schools (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp) */
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    width: 90%;
    position: static;
    z-index: 0;
    overflow-x: visible;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav #overlay li {
    width: 100%;
    display: inline-block;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  nav #overlay li:first-of-type {
    display: none;
  }
  nav #overlay li a {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }
  nav #overlay li a::before, nav #overlay li a::after {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: normal;
    position: static;
    width: auto;
    height: auto;
  }
  nav #overlay li a::before {
    top: auto;
    left: auto;
  }
  nav #overlay li a::after {
    bottom: auto;
    right: auto;
  }
  nav #overlay li a:hover::before, nav #overlay li a:hover::after {
    width: auto;
    height: auto;
  }
  nav #open-btn {
    display: none;
  }
}

footer {
  margin-top: 30px;
  padding: 2.5%;
}

#title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

#title-card #corner-image__left, #title-card #corner-image__right {
  position: absolute;
  width: 40%;
}

#title-card #corner-image__left {
  top: -40px;
  left: -40px;
}

#title-card h1 {
  margin: 0 20%;
}

#title-card #corner-image__right {
  top: -40px;
  right: -40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#flex-grid__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#flex-grid__home a {
  margin: 1% 0;
  text-decoration: none;
}

#flex-grid__home a #grid-item__left, #flex-grid__home a #grid-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#flex-grid__home a #grid-item__left img, #flex-grid__home a #grid-item__right img {
  width: 45%;
  margin: 0.5%;
}

#flex-grid__home a #grid-item__left h2, #flex-grid__home a #grid-item__right h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  aspect-ratio: 1 / 1;
  margin: 0.5%;
}

#flex-grid__home a #grid-item__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media all and (min-width: 600px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 30%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1000px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 28%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #flex-grid__home a #grid-item__left img, #flex-grid__home a #grid-item__right img {
    width: 35%;
  }
  #flex-grid__home a #grid-item__left h2, #flex-grid__home a #grid-item__right h2 {
    width: 35%;
  }
}

@media all and (min-width: 1200px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 25%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1500px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 22%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
