// utils folder imports
@import "utils/variables";

// base folder imports
@import "base/color";
@import "base/typography";
@import "base/reset";

// layout folder imports
@import "layout/navigation";

// pages folder imports
@import "pages/home";