body {
  background-color: #eeeeee;
}

nav {
  background-color: #e4e4e4;
}

nav ul #overlay-content li:hover, nav ul #overlay-content li:focus {
  background-color: #000034;
  color: #e4e4e4;
}

nav ul #overlay-content li a {
  color: #000034;
}

nav ul #overlay-content li a:hover, nav ul #overlay-content li a:focus {
  color: #e4e4e4;
}

nav ul li:hover, nav ul li:focus {
  background-color: #000034;
}

nav ul li a {
  color: #000034;
}

nav ul li a:hover, nav ul li a:focus {
  color: #e4e4e4;
}

#title-card {
  background-color: #252525;
  color: #eeeeee;
}

#grid-item__left img, #grid-item__left h2, #grid-item__right img, #grid-item__right h2 {
  background-color: #e4e4e4;
  color: #000034;
}

footer {
  background-color: #e4e4e4;
  color: #000034;
}

* {
  line-height: 150%;
  font-family: Arial, Calibri, Helvetica, sans-serif;
  text-align: center;
}

nav ul li a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2rem;
}

footer p {
  font-weight: bold;
}

@media all and (min-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 15px;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  float: left;
}

nav a img {
  width: 100%;
}

nav ul {
  display: inline-block;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: none;
}

nav ul li a {
  display: none;
}

nav #open-btn {
  display: inline-block;
}

@media screen and (min-width: 700px) {
  nav ul {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  nav ul #overlay-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul #overlay-content li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    border-right: 2px solid #000034;
  }
  nav ul #overlay-content li:first-child {
    display: none;
  }
  nav ul #overlay-content li:first-of-type, nav ul #overlay-content li:nth-child(7), nav ul #overlay-content li:last-child {
    border-right: 0px;
  }
  nav ul #overlay-content li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2px 0;
  }
  nav ul li {
    display: none;
  }
  nav ul #close-btn, nav ul #open-btn {
    display: none;
  }
}

footer {
  margin-top: 30px;
  padding: 2.5%;
}

#title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

#title-card #corner-image__left, #title-card #corner-image__right {
  position: absolute;
  width: 40%;
}

#title-card #corner-image__left {
  top: -40px;
  left: -40px;
}

#title-card h1 {
  margin: 0 20%;
}

#title-card #corner-image__right {
  top: -40px;
  right: -40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#flex-grid__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#flex-grid__home #grid-item__left, #flex-grid__home #grid-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% 0;
}

#flex-grid__home #grid-item__left img, #flex-grid__home #grid-item__right img {
  width: 45%;
  margin: 0.5%;
}

#flex-grid__home #grid-item__left h2, #flex-grid__home #grid-item__right h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  aspect-ratio: 1 / 1;
  margin: 0.5%;
}

#flex-grid__home #grid-item__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media all and (min-width: 600px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 30%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1000px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 28%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #flex-grid__home #grid-item__left img, #flex-grid__home #grid-item__right img {
    width: 35%;
  }
  #flex-grid__home #grid-item__left h2, #flex-grid__home #grid-item__right h2 {
    width: 35%;
  }
}

@media all and (min-width: 1200px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 25%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1500px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 22%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
