body {
  background-color: #eeeeee;
}

nav {
  background-color: #eeeeee;
}

#title-card {
  background-color: #252525;
  color: #eeeeee;
}

* {
  line-height: 150%;
  font-size: 1.1rem;
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

nav ul {
  display: relative;
  left: 50%;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 10px 20px;
}
