body {
  background-color: #eeeeee;
}

nav {
  background-color: #e4e4e4;
}

nav ul li a {
  color: #000034;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #252525;
  color: #eeeeee;
}

#title-card, #product-grid__home {
  background-color: #252525;
  color: #eeeeee;
}

#product-grid__home {
  padding: 20px 10%;
}

* {
  line-height: 150%;
  font-family: Arial, Calibri, Helvetica, sans-serif;
  text-align: center;
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.2ch;
}

h2 {
  font-size: 32px;
}

@media all and (min-width: 700px) {
  nav ul li a {
    font-size: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 15px;
  padding: 20px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0;
  border-right: 2px solid #000034;
}

nav ul li:last-of-type {
  border-right: 0px;
}

nav ul li a {
  display: inline-block;
  padding: 5px 20px;
}

#title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

#title-card #corner-image__left, #title-card #corner-image__right {
  position: absolute;
  width: 200px;
}

#title-card #corner-image__left {
  top: -40px;
  left: -40px;
}

#title-card h1 {
  margin: 0 200px;
}

#title-card #corner-image__right {
  top: -40px;
  right: -40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media all and (min-width: 600px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 30%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1000px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 30%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1200px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 25%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media all and (min-width: 1500px) {
  #title-card #corner-image__left, #title-card #corner-image__right {
    width: 20%;
  }
  #title-card #corner-image__right {
    top: auto;
    bottom: -40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
