nav {
  position: sticky;
  top: 0;
  left: 0;

  z-index: 1;

  margin-bottom: 15px;
  padding: 20px 0;

  ul {
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 0;

    list-style: none;

    li {
      display: inline-block;

      margin: 0;
      border-right: 2px solid $dark-primary-color;

      &:last-of-type {
        border-right: 0px;
      }

      a {
        display: inline-block;
        padding: 5px 20px;
      }
    }
  }
}