nav {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  padding: 20px 0;

  ul {
    display: relative;
    left: 50%;

    padding: 0;

    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;

        width: 100%;
        height: 100%;
        
        margin: 0 10px;
        padding: 10px 20px;
      }
    }
  }
}