body {
  background-color: $main-background;
}

nav {
  background-color: scale-color($color: $main-background, $lightness: -4%);

  ul {
    #overlay-content {
      li {
        &:hover, &:focus {
          background-color: $dark-primary-color;
          color: scale-color($color: $main-background, $lightness: -4%);
        }
    
        a {
          color: $dark-primary-color;
          &:hover, &:focus {
            color: scale-color($color: $main-background, $lightness: -4%);
          }
        }
      }
    }

    li {
      &:hover, &:focus {
        background-color: $dark-primary-color;
      }

      a {
        color: $dark-primary-color;
        &:hover, &:focus {
          color: scale-color($color: $main-background, $lightness: -4%);
        }
      }
    }
  }
}

#title-card {
  background-color: $dark-background;
  color: $font-color-dark-bg;
}

#grid-item__left, #grid-item__right {
  img, h2 {
    background-color: scale-color($color: $main-background, $lightness: -4%);
    color: $dark-primary-color;
  }
}

footer {
  background-color: scale-color($color: $main-background, $lightness: -4%);
  color: $dark-primary-color;
}