body {
  background-color: $main-background;
}

nav {
  background-color: scale-color($color: $main-background, $lightness: -4%);

  ul {
    li {
      a {
        color: $dark-primary-color;

        transition: ease 0.5s;

        &:hover, &:focus {
          background-color: $dark-primary-color;
          color: scale-color($color: $main-background, $lightness: -4%);
        }
      }
    }
  }
}

#title-card, #product-grid__home {
  background-color: $dark-background;
  color: $font-color-dark-bg;
}

#product-grid__home {
  padding: 20px 10%;
}