* {
  line-height: 150%;

  font-family: Arial, Calibri, Helvetica, sans-serif;

  text-align: center;
}

nav {
  ul {
    li {
      a {
        font-size: $small-font;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: $largest-font;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: $large-font;
}

footer p {
  font-weight: bold;
}

@media all and (min-width: 700px) {
  h2 {
    font-size: $larger-font;
  }
}