* {
  line-height: 150%;

  font-family: Arial, Calibri, Helvetica, sans-serif;

  text-align: center;
}

nav {
  ul {
    li {
      a {
        font-size: 16px;

        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3 {
  line-height: 130%;
}

h1 {
  font-size: 32px;

  letter-spacing: 0.2ch;
}

h2 {
  font-size: 32px;
}

@media all and (min-width: 700px) {
  nav {
    ul {
      li {
        a {
          font-size: 20px;
        }
      }
    }
  }
}