#title-card {
  display: flex;

  height: 25vh;

  position: relative;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin-bottom: 30px;

  #corner-image__left, #corner-image__right {
    position: absolute;

    width: 40%;
  }

  #corner-image__left{
    top: -40px;
    left: -40px;
  }

  h1 {
    margin: 0 20%;
  }

  #corner-image__right {
    top: -40px;
    right: -40px;

    transform: rotate(90deg);
  }
}

#flex-grid__home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  #grid-item__left, #grid-item__right {
    display: flex;
    justify-content: center;

    margin: 1% 0;

    img {
      width: 45%;

      margin: 0.5%;
    }

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 45%;
      aspect-ratio: 1 / 1;

      margin: 0.5%;
    }
  }

  #grid-item__right {
    flex-direction: row-reverse;
  }
}

@media all and (min-width: 600px) {
  #title-card {
    #corner-image__left, #corner-image__right {
      width: 30%;
    }

    #corner-image__right {
      top: auto;
      bottom: -40px;

      transform: rotate(180deg);
    }
  }
}


@media all and (min-width: 1000px) {
  #title-card {
    #corner-image__left, #corner-image__right {
      width: 28%;
    }

    #corner-image__right {
      top: auto;
      bottom: -40px;

      transform: rotate(180deg);
    }
  }

  #flex-grid__home {
    #grid-item__left, #grid-item__right {
      img {
        width: 35%;
      }
  
      h2 {
        width: 35%;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  #title-card {
    #corner-image__left, #corner-image__right {
      width: 25%;
    }

    #corner-image__right {
      top: auto;
      bottom: -40px;

      transform: rotate(180deg);
    }
  }
}

@media all and (min-width: 1500px) {
  #title-card {
    #corner-image__left, #corner-image__right {
      width: 22%;
    }

    #corner-image__right {
      top: auto;
      bottom: -40px;

      transform: rotate(180deg);
    }
  }
}