#flex-grid__home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  a {
    margin: 1% 0;

    text-decoration: none;

    #grid-item__left, #grid-item__right {
      display: flex;
      justify-content: center;
  
      img {
        width: 45%;
  
        margin: 0.5%;
      }
  
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
  
        width: 45%;
        aspect-ratio: 1 / 1;
  
        margin: 0.5%;
      }
    }
  
    #grid-item__right {
      flex-direction: row-reverse;
    }
  }
}

@media all and (min-width: 1000px) {
  #flex-grid__home {
    a {
      #grid-item__left, #grid-item__right {
        img {
          width: 35%;
        }
    
        h2 {
          width: 35%;
        }
      }
    }
  }
}