$main-background: #eeeeee;

$dark-background: #252525;
$dark-foreground: #383838;

$font-color-light-bg: #121212;
$font-color-dark-bg: #eeeeee;

$dark-primary-color: #000034;
$light-primary-color: #b6b6ff;

$mobile-nav-bg-color: rgba(0,0,52,0.95);

$largest-font: 3rem;
$larger-font: 2.5rem;
$large-font: 2rem;
$default-font: 1.25rem;
$small-font: 1rem;