$main-background: #eeeeee;

$dark-background: #252525;
$dark-foreground: #383838;

$font-color-light-bg: #121212;
$font-color-dark-bg: #eeeeee;

$dark-primary-color: #000034;
$light-primarty-color: #b6b6ff;